## Int, Flot and String Variable

In [27]:
# Variable: Which is not fixed?, and it can store values

num1=100   # hey num1, your value is 100 now
print('Num 1 Value is: ',num1)

## type function
print('Variable type is: ', type(num1))

Num 1 Value is:  100
Variable type is:  <class 'int'>

In [28]:
num2= 2.85 
print('Num 2 Value is: ',num2)

## type function
print('Variable type is: ', type(num2))

Num 2 Value is:  2.85
Variable type is:  <class 'float'>

In [29]:
str1 = "username"
print('str 1 Value is: ',str1)

## type function
print('Variable type is: ', type(str1))

# str means String or u can also say as text

str 1 Value is:  username
Variable type is:  <class 'str'>

Before Covert TC Type Is:  <class 'int'>
After Covert TC Type Is:  <class 'str'>

Before Covert TC Type Is:  <class 'str'>
After Covert TC Type Is:  <class 'int'>

In [32]:
## What will happen if my string is not convertible
string1="10112@"
string1=int(string1)
# it will give us an eror

ValueError: invalid literal for int() with base 10: '10112@'

## Variable naming rules

 1. A variable name should start from letter(A-Z, a-z) or _
 2. A variable name can contain only A-Z, a-z and _

In [ ]:
32_a=230   # you cannot start a variable name with a letter

In [ ]:
_a=10
_1=23
a1=10
_aZ=13
a=10
_=1232

## UserInput

In [33]:
#We have a function input()
name_user=input("Enter your name ")
print("Hello",name_user)

Hello Javed

In [36]:
# Enter specific Float Value
num1=float(input("Enter a number "))
print("Enter Value is: ", num1 , " and type is: ", type(num1))

Enter Value is:  85.0  and type is:  <class 'float'>

## Lists

In [85]:
## List: List is a mutable data type (it can be changed)

## to create a list:
names=["Akshay","Akash","Anthony","Pradeep","Arin","Mahesh"]

print('List Value is: ', names)
print('Type of value is: ', type(names))

List Value is:  ['Akshay', 'Akash', 'Anthony', 'Pradeep', 'Arin', 'Mahesh']
Type of value is:  <class 'list'>

In [43]:
# acces value of list using index no
# in list index count start from 0
names[2]

'Anthony'

In [86]:
# changing the list elements value

print('Before Change value',names[2])

names[2]="Divya"

print('After Change value',names[2])

Before Change value Anthony
After Change value Divya

In [87]:
## Some important List functions

print(names)
print("The length is", len(names))

#1. append() , append adds a element at the last of the list
names.append("Sunil")
print(names)
print("The length is", len(names))

#2. index() , gives the first index of any element
print(names.index('Pradeep'))
print(names.index('Sunil'))

['Akshay', 'Akash', 'Divya', 'Pradeep', 'Arin', 'Mahesh']
The length is 6
['Akshay', 'Akash', 'Divya', 'Pradeep', 'Arin', 'Mahesh', 'Sunil']
The length is 7
3
6

In [89]:
## 3. remove an element ,

## pop , pop will remove the last element, by default

list2=["Apple","Banana",'Tomato','Potato']

list2.pop()
list2.pop(2)    # (2 is the elememt's index which you want to remove)
print(list2)

['Apple', 'Banana']

In [90]:
## 4. What if i want to remove any element by it's name / value

list2=["Apple","Banana",'Tomato','Potato']

list2.remove('Banana')
print(list2)

['Apple', 'Tomato', 'Potato']

In [1]:
## 5. Sorting any list

list2=[234,325,523,543,43,343,3,5,2]
print('Before Sorting List: ',list2)

list2.sort()                  # list will be sorted in ascending order by default
print('After Sorting List: ',list2)


list2.sort(reverse=True)              # reverse=True will sort my array in descending order
print('After Sorting and Reverse List: ',list2)

Before Sorting List:  [234, 325, 523, 543, 43, 343, 3, 5, 2]
After Sorting List:  [2, 3, 5, 43, 234, 325, 343, 523, 543]
After Sorting and Reverse List:  [543, 523, 343, 325, 234, 43, 5, 3, 2]

## Tuple

In tuple you cannot chnage the value of the elements, neither you can add or delete elemets

In [2]:
## Syntax of making a tuple

username=('div213','ak3452','kasy3203','edse54')
print('Tuple Value is: ', username)
print('Type of value is: ', type(username))

Tuple Value is:  ('div213', 'ak3452', 'kasy3203', 'edse54')
Type of value is:  <class 'tuple'>

In [3]:
# We cannot add or remove elemnts in tuple but tuple supports slicing
username[1:3]

('ak3452', 'kasy3203')

## Sets

Sets are unordered, (unindexed) but do support item assignment and deletion, Sets do not allow duplicates

In [11]:
set1={'Atul','Surabhi','Pradeep','Divya','Atul'}
print('Set Value is: ', set1)
print('Type of value is: ', type(set1))

Set Value is:  {'Atul', 'Divya', 'Surabhi', 'Pradeep'}
Type of value is:  <class 'set'>

Functions of sets

In [12]:
set2={1,3244,346,35,6574,7,754,754,57,34,2,3}

## 1. add() , it will add an element to set
set2.add(12)
set2

{1, 2, 3, 7, 12, 34, 35, 57, 346, 754, 3244, 6574}

In [13]:
## 2. Remove

set2.remove(6574)
set2

{1, 2, 3, 7, 12, 34, 35, 57, 346, 754, 3244}

## Intersection and union

In [15]:

class_A={'Akash','Adarsh','Abhay','Karan','Shama','Divya'}
class_B={'Abhay','Karan','Shama','Divya','Pradeep','Atul','Surabhi'}

#Union

union_set=class_A.union(class_B)
print('Union Set : ',union_set)

#Intersection
intersection_set=class_A.intersection(class_B)
print('Intersection Set : ',intersection_set)

Union Set :  {'Akash', 'Surabhi', 'Pradeep', 'Divya', 'Adarsh', 'Shama', 'Atul', 'Abhay', 'Karan'}
Intersection Set :  {'Karan', 'Divya', 'Abhay', 'Shama'}

## Dictionary

In [16]:
#Dictionary stores data in key, value pair
#<var_name> = {"key1":"value1" , key2: value2 }

dict1={"Shama":28 , "Divya":27, "Akash":30, "Abhay":35}

In [17]:
# Get Value From Dictionary
dict1["Akash"]

30

In [19]:
## Some imp functions in dictionaries

dict1.keys() # Returns all the keys of a dictionary

dict_keys(['Shama', 'Divya', 'Akash', 'Abhay'])

In [20]:
## Values of dictionaries

print(dict1.values())

dict_values([28, 27, 30, 35])

In [22]:
## To get both keys and values

dict1.items()

dict_items([('Shama', 28), ('Divya', 27), ('Akash', 30), ('Abhay', 35)])

In [23]:
## To remove items from dictionary

dict1.pop('Divya')

27

In [ ]:
dict1['Shama']=30    # updations in a dict

## Operators

Airthmetic   + - / // % ** *

Assignment operator   = , += , -=

Comparision operator  ==, != , > ,<,>= ,<=

Logical Opeartors and or not

Indentity operators is is not

Membership operators in , not in

In [24]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)      ##  / gives answer in float (decimal places)
print(a//b)     ##  gives you the qoutient obtained after dividing
print(a%b)   # % gives you the remainder
print(2**3)    ## x **y means x^y x raised to power y   (x multiplied y times)

13
7
30
3.3333333333333335
3
1
8

In [26]:
## Comparision Operators will give you answer in True/ False (bool)

x=100
y=20

print(x==y)
print(x!=y)      ## != does not equals
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

In [28]:
x=10
y=20
z=13

print(y>x and y>z)

print(y>x or z>y)

True
True

In [32]:
x=[1,2,3,4]

y=x

z=[1,2,3]

In [33]:
print(y is x)
print(y is not z)

True
True

In [35]:
## Membership operators

list1=["Vaishanvi","Karan","Pradeep","Divya"]

print("Divya" in list1)
print("Akash" not in list1)

True
True

## Conditional Statements

In [40]:
a=10
b=9

if b>a:
  print("B is greater than A")
else: 
    print("A is greater than B")

A is greater than B

In [41]:
## Make a program which will check which is greater?

num1=int(input("Enter a number"))
num2=int(input("Enter another number"))

if num1==num2:
  print(num1,"is greater (I'm from if)")

elif num1==num2:
  print(num1,num2 , 'Are equal')

else:
  print(num2,"is greater")

85 is greater

## Slicing : Extracting a portion of a List

In [47]:
# assume we have a list called names
# first value is starting index and second value is ending value + 1 index
print(names[1:4])

['Akash', 'Anthony', 'Pradeep']

In [49]:
# when we put only secnd value then it will take first value as 0
print(names[:2])

['Akshay', 'Akash']

In [51]:
# when we put only first value then it will take secound value as last value in list
print(names[2:])

['Anthony', 'Pradeep', 'Arin', 'Mahesh']

In [81]:
# thid value is for step how many of index they skip for next value by default step value is 1 when u not assign any value
print(names[0:6:2])

['Akshay', 'Anthony', 'Arin']

In [53]:
## Negative slicing

names[-6:-3]

['Akshay', 'Akash', 'Anthony']

## Python In Build Functions

In [52]:
# To get the length of an list , we can use len function

len(names)

6

In [56]:
# range() function need to value to assign starting value and ending value + 1, and it will return an list of given value
list1=list(range(1,11))
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]